body {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     background-color: rgba(234, 23, 90, 0.34);
}

.header {
     position:static;
}

.main_page {
     height: 80vh;
     background-image: url("/assets/rock_paper_scissor.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
}

.hidden {
     display: none;
}

.playground {
     height: 80vh;
     display: flex;
     justify-content: space-evenly;
}

.image {
     height: 70vh;
     width: 30vw;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 80% 70%;
}

.image:active {
     background-size: 60% 60%;
}

.rock {
     background-image: url("/assets/rock.png");
}

.paper {
     background-image: url("/assets/paper.png");
}

.scissor {
     background-image: url("/assets/scissor.png");
}

a {
     display: block;
     width: fit-content;
     margin: 10px auto 0 auto;
     text-align: center;
     background-color: rgba(234, 124, 70);
     color: white;
     padding: 15px 40px;
     border-radius: 5px;
     cursor: pointer;
     text-decoration: none;
}

a:active {
     padding: 10px 30px;
}

.playground2 {
     height: 70vh;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

.image2 {
     height: 70vh;
     width: 35vw;
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
}

.symbol1 {
     transform: rotate(90deg);
}

@keyframes wave1 {
     0% {
          transform: rotate(160deg)
     }

     100% {
          transform: rotate(50deg);
     }
}

.symbol2 {
     transform: rotate(-90deg);
}

@keyframes wave2 {
     0% {
          transform: rotate(-140deg);
     }

     100% {
          transform: rotate(-60deg);
     }
}

button {
     background-color: transparent;
     border: none;
}

.playground button, h1, h2{
     text-align: center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-weight: 100;
}


.playground button {
     font-size: xx-large;
}

h2 {
     font-weight: 0;
     color: green;
}